@color-main-highlight: #800f25;
@color-secondary: #6200ea;

@fontfam-longread: "Bitter", "Merriweather", serif;
@fontfam-legibility: "Open Sans", "Trebuchet MS", sans-serif;
@fontfam-banner: "Bitter", "Merriweather", serif;
