.seattle-conference .header-nav .sub-menu {
  background: #555;
}
.seattle-conference .header-nav li a {
  color: rgba(255, 255, 255, 0.5);
}
.seattle-conference .header-nav li a:hover {
  color: #fff;
}
.seattle-conference .page-wrapper {
  padding: 0;
  background: #fff;
}
.seattle-conference .entry-title {
  display: none;
}
.seattle-conference .header {
  width: 100%;
  max-width: none;
  background: #EB3349;
  background: linear-gradient(25deg, #EB3349, #F45C43);
  position: relative;
  color: #fff;
  padding-top: 1rem;
  overflow: hidden;
}
.seattle-conference .header:before {
  display: block;
  content: " ";
  position: absolute;
  bottom: 3%;
  right: -5%;
  background: url("images/mt-rainier.svg?bust_the_cache=1239fdsnvkj3nasd") bottom center no-repeat;
  opacity: .15;
  background-size: contain;
  z-index: 9;
  width: 720px;
  height: 195px;
}
.seattle-conference .header:after {
  display: block;
  content: " ";
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 10;
  background: url("images/seatle-skyline-compressor.svg") bottom center repeat-x;
}
.seattle-conference .header .header-nav {
  padding-top: 0;
}
.seattle-conference .header .header-nav #nav-toggle ~ #nav-toggle-label {
  background: #EB3349;
  border: none;
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.15);
  margin: 0 1rem;
  border-radius: 5px;
}
.seattle-conference .header .brand {
  background: transparent;
}
.seattle-conference .header .brand:before {
  display: none;
}
.seattle-conference .header .brand h1 a {
  opacity: .75;
  transition: opacity 0.25s ease-in-out;
  height: 50px;
  width: 162.5px;
}
.seattle-conference .header .brand h1 a:hover {
  opacity: 1;
}
.seattle-conference .header .inside-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
.seattle-conference .header .conference-info {
  z-index: 20;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 1rem;
}
.seattle-conference .header .conference-info .short-descriptor {
  font-size: .75rem;
  padding: .5rem;
  display: inline-block;
  margin: 0 auto 0;
  position: relative;
}
.seattle-conference .header .conference-info .short-descriptor:after,
.seattle-conference .header .conference-info .short-descriptor:before {
  content: " ";
  display: block;
  max-height: 1px;
  line-height: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.25);
  width: 50%;
  position: absolute;
  left: -50%;
  top: 50%;
}
.seattle-conference .header .conference-info .short-descriptor:after {
  left: auto;
  right: -50%;
}
.seattle-conference .header .conference-info .title {
  font-size: 6vw;
  font-weight: 900;
  text-shadow: 3px 3px 0 #EB3349, 5px 7px 0 rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 460px) {
  .seattle-conference .header .conference-info .title {
    font-size: 9vw;
  }
}
.seattle-conference .header .conference-info .title a {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  position: relative;
  z-index: 200;
}
.seattle-conference .header .conference-info .title span {
  display: block;
  font-size: 1.75vw;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: -0.25rem;
  opacity: .8;
  text-shadow: none;
}
@media only screen and (max-width: 460px) {
  .seattle-conference .header .conference-info .title span {
    font-size: 3vw;
  }
}
.seattle-conference .header .conference-info .date,
.seattle-conference .header .conference-info .location {
  margin-top: 2rem;
  vertical-align: top;
  text-align: left;
  font-size: .6rem;
  display: inline-block;
  font-weight: bold;
  opacity: .75;
}
.seattle-conference .header .conference-info .date {
  margin-right: 1rem;
}
.seattle-conference .header .conference-info .location .city,
.seattle-conference .header .conference-info .location .place {
  display: block;
}
@media only screen and (max-width: 460px) {
  .seattle-conference .header .header-nav #nav-toggle:checked ~ #nav-toggle-label {
    color: #fff;
  }
  .seattle-conference .header .header-nav #nav-toggle:checked ~ #nav-toggle-label ~ .menu-new-menu-container {
    background: #EB3349;
    margin: 0 1.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }
  .seattle-conference .header .header-nav #nav-toggle:checked ~ #nav-toggle-label ~ .menu-new-menu-container a {
    color: #fff;
  }
}
.seattle-conference-stub .header .conference-info .title {
  font-size: 2rem;
}
.seattle-conference-stub .header .conference-info .title span {
  margin-top: .25rem;
  font-size: .6rem;
}
.seattle-conference .conference-nav {
  font-size: 0;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: -1rem;
}
.seattle-conference .conference-nav .conference-nav-link {
  font-size: 1rem;
  display: inline-block;
  max-width: 300px;
  min-width: 250px;
  width: 25%;
  position: relative;
  padding-top: 175px;
  margin: 0 .5rem;
  text-decoration: none;
  color: #666;
  vertical-align: top;
}
.seattle-conference .conference-nav .link-image {
  position: absolute;
  max-width: 100%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  top: 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  left: 50%;
  transform: translateX(-50%);
  opacity: .9;
  transition: border-radius 0.5s cubic-bezier(0, 0.82, 0, 0.99), opacity 0.5s cubic-bezier(0, 0.82, 0, 0.99), border-color 0.25s ease-in-out;
}
.seattle-conference .conference-nav .conference-nav-link:hover .link-image {
  border-radius: 0;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  opacity: 1;
  box-shadow: -5px -5px 0 0 #EB3349;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.seattle-conference .conference-nav .link-text {
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
  transition: transform 1s cubic-bezier(0, 0.82, 0, 0.99);
}
.seattle-conference .conference-nav .link-text .subtitle {
  display: block;
  opacity: .75;
  font-weight: 100;
  font-size: .6rem;
}
.seattle-conference .conference-nav .conference-nav-link:hover .link-text {
  transform: translateY(-10px);
  color: #111;
}
.seattle-conference .conference-nav .conference-nav-link.disabled {
  opacity: .5;
  cursor: default;
}
.seattle-conference .entry-content p,
.seattle-conference .entry-content li {
  font-family: "Bitter", "Merriweather", serif;
  font-size: .8rem;
  line-height: 1.28rem;
}
.seattle-conference .people {
  float: right;
  border-radius: 3px;
  background: linear-gradient(25deg, #EB3349, #F45C43);
  color: #fff;
  padding: 1rem;
  margin-left: 1rem;
  max-width: 35%;
}
.seattle-conference .people small {
  display: block;
}
.seattle-conference .people h2 {
  font-size: 1rem;
}
.seattle-conference .people ul {
  margin: 0;
  padding-left: 1rem;
}
.seattle-conference .people li {
  font-size: .7rem;
}
.seattle-conference .people li + li {
  margin-top: .5rem;
}
@media only screen and (max-width: 641px) {
  .seattle-conference .people {
    width: 100%;
    float: none;
    margin: 0 0 2rem;
    max-width: none;
  }
}
